@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}


:root{
    --primary-color: #FCE029;
    --accent-color:  #0A75BC;
    --secondary-accent-color: #A87A51;
    --width-break:600px
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


nav {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    background-color: var(--primary-color);
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
/* .container {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    justify-content: center;
} */

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary-color);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
}   

#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--black);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}

footer div{
    font-size: x-large;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}